{{ ansible_managed |comment }}
VAULT_ADDR={{ vault_pw_rot_url }}
{% if vault_pw_rot_token_namespace is defined %}
VAULT_NAMESPACE={{ vault_pw_rot_token_namespace }}
{% endif %}
VAULT_TOKEN={{ _vault_pw_rot_server_token.login.auth.client_token }}
